/* Global font family */
html, body, a, p, span, input, h1, h2, h3, h4, h5, h6, button, li, ul {
  font-family: 'Lahzeh' !important;
}


/* Add custom CSS styles below */ 
@font-face {
    font-family: 'Lahzeh';
    src: url('/Lahzeh-ExtraBold.eot');
    src: url('/Lahzeh-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/Lahzeh-ExtraBold.woff2') format('woff2'),
        url('/Lahzeh-ExtraBold.woff') format('woff'),
        url('/Lahzeh-ExtraBold.ttf') format('truetype'),
        url('/Lahzeh-ExtraBold.svg#Lahzeh-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lahzeh';
    src: url('/Lahzeh-Bold.eot');
    src: url('/Lahzeh-Bold.eot?#iefix') format('embedded-opentype'),
        url('/Lahzeh-Bold.woff2') format('woff2'),
        url('/Lahzeh-Bold.woff') format('woff'),
        url('/Lahzeh-Bold.ttf') format('truetype'),
        url('/Lahzeh-Bold.svg#Lahzeh-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lahzeh';
    src: url('/Lahzeh-Black.eot');
    src: url('/Lahzeh-Black.eot?#iefix') format('embedded-opentype'),
        url('/Lahzeh-Black.woff2') format('woff2'),
        url('/Lahzeh-Black.woff') format('woff'),
        url('/Lahzeh-Black.ttf') format('truetype'),
        url('/Lahzeh-Black.svg#Lahzeh-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lahzeh';
    src: url('/Lahzeh-SemiBold.eot');
    src: url('/Lahzeh-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/Lahzeh-SemiBold.woff2') format('woff2'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-SemiBold.woff') format('woff'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-SemiBold.ttf') format('truetype'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-SemiBold.svg#Lahzeh-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lahzeh';
    src: url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Regular.eot');
    src: url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Regular.woff2') format('woff2'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Regular.woff') format('woff'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Regular.ttf') format('truetype'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Regular.svg#Lahzeh-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lahzeh';
    src: url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-ExtraLight.eot');
    src: url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-ExtraLight.woff2') format('woff2'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-ExtraLight.woff') format('woff'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-ExtraLight.ttf') format('truetype'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-ExtraLight.svg#Lahzeh-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lahzeh';
    src: url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Light.eot');
    src: url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Light.eot?#iefix') format('embedded-opentype'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Light.woff2') format('woff2'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Light.woff') format('woff'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Light.ttf') format('truetype'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Light.svg#Lahzeh-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lahzeh';
    src: url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Thin.eot');
    src: url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Thin.woff2') format('woff2'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Thin.woff') format('woff'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Thin.ttf') format('truetype'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Thin.svg#Lahzeh-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lahzeh';
    src: url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Medium.eot');
    src: url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Medium.woff2') format('woff2'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Medium.woff') format('woff'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Medium.ttf') format('truetype'),
        url('https://hzbr.sa/fonts/ombdr-font/Lahzeh-Medium.svg#Lahzeh-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
